/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";

body{
  width: 90%;
  height:0 auto;
  padding-left: 10%;
  padding:0 auto;
}
#body-wrapper{
  width:90%;

}
// header
header{
  width: 100%;
  height: 120px;
  background-color:#313131; 
  overflow: hidden;
  border-radius: 5px;
  
}


.header-logo{
  display:block;
  background-color: #313131;
  float: left;
  font-size: 40px;
  letter-spacing: 7px; 
  border: solid 1px #313131;
  border-radius:5px;
  margin-top:20px ;
  margin-left:20px;
  padding:0 10px 0 10px ;

  h1{
    padding-bottom:10px;
    
    a{
      color:#fff;
    }


  }
}
.header-nav-wrapper{
  width: 100%;
  height: 60px;
  background:#fff;
}
nav{
    float: right;
    font-size: 125%;
    text-decoration: none;
    margin-top:20px;
    letter-spacing: 3px; 


}
nav ul{
  margin:0 auto;
  padding-left:0;
  
}
nav li{
  display: inline;
  margin: 10px;
  border:solid 1px #313131;
  border-radius: 5px;
  padding: 15px;


}
nav ul li a{
  font-size:20px;
  text-decoration: none;
  color:#fff;
  text-align: center;
}
a:hover{
  color:#fff;
}

// content
.form{
  border:solid 1px;
  border-radius: 5px;  
  width:80%;
  text-align: center;
  .field{
    margin-top:30px;
  }
  .actions{
    margin:20px 0;
    .btn{
      border:solid 1px;
      border-radius: 5px;
      background:#313131;
      color:#fff;
    }
  }
}
.content-wrapper{
  margin:0 auto;
  width: 80%;
  border:solid 1px;
  .content-title{
    border-bottom:solid 1px;
    margin:0 auto;
    h1{
      margin:10px auto;
    }

  }
  .content{
    // padding-top:10px;
    margin:10px auto;
    width:60%;
    border:solid 1px;

    .content-body{
      width:50%;
      border:solid 1px;
      margin:10px;
      padding:10px;
      .content-item{
        border-radius:5px;
        border:solid 1px grey;
        margin: 10px 0;

        li{
          padding:10px;
          list-style: none;
        }
      }
    }
  }

}

p.pagenum{
  display: none;
  position: fixed;
  bottom: 10px;
  left: 10px;
}
p.back-to-top{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.top-logo{
  border: solid 2px ;
  border-radius: 20px;
  padding: 20px;
}

.icon{
  border:solid 2px white;
  border-radius: 50%;
}

.profile-wrapper{
  .profile{
    width:100%;
    border:solid 2px #f5f5f5;
    
    .profile-icon{
  border:solid 2px white;
  border-radius: 50%;
    }
  }
}
// form
.form-profile-icon{
  border:solid 2px white;
  border-radius: 50%;
}

// footer
footer{

  height:100px;
  width:100%;
  text-align: center;
  padding-top:40px;
  margin:20px 0;
  border-top:solid 1px #ccc;
  border-bottom:solid 1px #ccc;
}